{% extends 'base.html.twig' %}

 {% block body %}
    <h1>{{title}}</h1>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, necessitatibus 
    odio in eos harum aspernatur asperiores deleniti suscipit quis, vero pariatur non, 
    dolores repellendus rem voluptas eveniet voluptatem modi. Quibusdam maxime cupiditate consequuntur porro sed q
    uidem dolorum possimus deserunt et?</p>

    <p>Accusantium obcaecati blanditiis repellendus dicta pariatur sit architecto, delectus f
    ugiat possimus, temporibus commodi, tempore quod asperiores nam quam odio hic quasi explicabo num
    quam. Deleniti magni in dicta ab quo sequi similique! Porro labore dolore nesciunt
    facilis eos corporis incidunt expedita!</p>

 {% endblock %}