{% extends 'base.html.twig' %}

 {% block body %}
<article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 03/01/2020 à 01:18 dans la catégorie politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eligendi. Nemo odit ut dolorem earum.</p>
            <p>Vitae optio, perferendis odio consectetur quis sit dolore distinctio repudiandae id dicta numquam, delectus tempora?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima reprehenderit soluta nihil laborum, veniam quam inventore repudiandae architecto culpa qui nisi vero quisquam ea doloribus obcaecati amet totam ipsam eaque.
            Repudiandae, beatae sequi? Molestiae, vel mollitia! Tempora alias fugiat in neque eaque fugit earum tenetur ducimus rem. Minima natus fugiat error minus dicta numquam quisquam, quidem voluptatibus rem in quasi?
            Nemo saepe doloribus nulla asperiores, ipsum nihil tempora facere accusantium. Sint officia voluptas sunt dolor dignissimos adipisci totam culpa laboriosam eligendi dolorem perspiciatis hic facilis, consequatur delectus, ut tenetur. Fugit!
            Error, quia. Et mollitia non officiis accusamus molestiae, veniam sit asperiores minima. Quae maxime unde corrupti aliquam officiis. Eum itaque iste inventore quam velit id delectus ut amet labore animi.
            Cumque velit fuga beatae quis laboriosam dolorem at cum, ipsa atque odio debitis, nisi blanditiis dolor illo quae! Tempora dolore cumque mollitia nesciunt iure doloribus reiciendis est optio adipisci sunt?
            Temporibus voluptates, dignissimos architecto natus debitis culpa aut placeat tempore deleniti dolores totam asperiores laudantium unde? At, doloribus quidem asperiores dicta aperiam, distinctio voluptatem adipisci ad exercitationem vitae nihil ullam.
            Excepturi doloremque quidem facere sint, iusto explicabo consequuntur aliquid commodi? Porro, voluptas incidunt temporibus necessitatibus facere eveniet autem iste, aut deleniti blanditiis debitis error culpa libero inventore, odit placeat nesciunt.
            Facere, deleniti voluptas quaerat, ipsam, odio corporis incidunt sapiente alias officiis nesciunt repudiandae consequatur ad ex recusandae omnis iste molestiae inventore minus doloremque totam quia! Porro maxime optio earum nam.
            Magni eveniet mollitia vel at animi. Ipsam amet tenetur facere aperiam voluptates id asperiores velit doloremque, hic nostrum repellendus sed minus omnis iste? Corrupti, ipsum iusto perspiciatis velit quia consequatur?
            Quod similique doloribus fugiat vel dolores aliquam, molestias assumenda commodi odit sequi nesciunt repudiandae. Veritatis reprehenderit atque adipisci ea. Ipsam atque, dolorem deserunt autem culpa aut dolore mollitia explicabo sint.
            Ipsam voluptates perferendis debitis quia facilis maiores ducimus assumenda explicabo, hic quod quis, aperiam repudiandae asperiores magni iusto fugiat delectus saepe rem laboriosam unde quos quaerat! Maiores asperiores harum unde.
            Perspiciatis, magnam ducimus incidunt culpa blanditiis quibusdam, quam laboriosam in natus distinctio tempore minus totam maxime veniam sequi, sint ipsa et? Accusamus, harum iste nesciunt in magni ratione sunt adipisci!
            Aspernatur obcaecati voluptatum dolores. Culpa tenetur ducimus dicta enim ex vitae nulla sequi sunt! Minima magnam dolorem excepturi repellendus nulla sapiente, eos maxime corrupti quas. Pariatur voluptates nihil odio magnam.
            Fuga nam nesciunt beatae id laboriosam error totam unde consectetur porro deleniti hic doloremque ipsam delectus, voluptas amet, quisquam neque dignissimos facilis numquam tempore modi fugit possimus voluptatem animi? Cumque!
            Distinctio tempora explicabo, repudiandae aut natus iusto vel cum veritatis sequi fugit labore molestiae voluptate adipisci est quisquam quo voluptatum dignissimos. Pariatur, nesciunt voluptatibus dolores earum minus corrupti id laboriosam.
            Perspiciatis consequuntur nesciunt voluptate saepe exercitationem incidunt fuga similique veniam iste maiores dolore eligendi necessitatibus nihil modi fugiat laboriosam, atque distinctio eaque sed sint harum ea? Commodi, atque dignissimos. Qui.
            Voluptates ratione hic, pariatur sint voluptatum quisquam, eaque ad quos sequi odio consequuntur quis, quam laboriosam vero ducimus sit earum asperiores repellat alias quasi consequatur. Rerum sint quidem accusantium et.
            Eveniet provident voluptatum est numquam temporibus aliquid similique aspernatur ab, ipsum quas velit laborum exercitationem maxime quod necessitatibus tenetur porro at architecto deleniti recusandae hic! Laboriosam harum modi distinctio maxime.
            Architecto itaque aliquam sunt veniam perferendis modi quia aspernatur delectus molestiae eligendi! Blanditiis sequi distinctio exercitationem. Nulla sed asperiores quibusdam expedita doloribus illum assumenda aut hic. Illo iusto minima sint.
            Quasi, minima praesentium ea libero sunt voluptates eum consequatur similique ratione iste, asperiores nesciunt voluptate quisquam quaerat quam fugiat quas recusandae iusto harum ut sapiente iure culpa reprehenderit? Non, impedit?
            Facere consectetur voluptate id qui, deleniti at provident optio. Nemo distinctio aliquam ex ipsam? Voluptatem expedita dolores ut repellendus dolorem itaque autem corporis nesciunt consectetur, eos doloribus, ad, sint aliquam.
            Non, accusantium. Vero, dolore neque aut animi libero cumque nostrum consectetur deleniti obcaecati similique eaque esse exercitationem eum cum! Assumenda voluptatem maxime recusandae accusamus beatae dolorem sapiente voluptas modi perspiciatis?
            Aperiam, deleniti. Nobis hic dolor, eos tempora nostrum iste labore enim eaque vitae recusandae doloremque in quia molestias? Eos cupiditate quae iste enim voluptates perspiciatis corporis, modi magni ad voluptas.
            Iste magni ea, expedita voluptatibus fugiat animi mollitia rem distinctio unde rerum labore laborum ex velit aliquam, inventore voluptas fugit modi perferendis alias consequatur cum blanditiis. Reiciendis fugiat numquam magnam!
            Alias facilis ullam dolor inventore eligendi! Minima sit doloribus quaerat optio recusandae porro rem odit saepe perspiciatis nihil, asperiores incidunt beatae, rerum delectus eum, deserunt esse excepturi accusantium eligendi cumque?
            Quisquam aperiam fugit odio molestias mollitia culpa cumque sunt id omnis vero nesciunt fuga minus maxime architecto a explicabo, commodi nemo ut, sequi provident repellat. Eveniet cumque in animi dolor!
            Velit sint natus pariatur saepe! Doloribus voluptatibus delectus quos vel laboriosam est sapiente porro optio sint modi eum rerum molestiae fugit, quisquam ducimus dolores aliquam nesciunt odit reprehenderit qui dolor?
            Culpa dolore non modi delectus, veniam quos iusto, magni reprehenderit quas quasi cupiditate quidem quam, placeat a ea voluptas eligendi quae laborum ipsam tempora. Doloremque aperiam officiis deleniti expedita fuga.
            Dolor qui quibusdam quod asperiores ipsam deleniti in. Aut fugit fuga non laboriosam tenetur culpa, eligendi tempore vero nostrum, quam sed, aliquam eum amet aliquid quae debitis dolorem odio eos.
            Similique laborum aliquam quia nesciunt illo? Assumenda illo error animi voluptatum et nostrum doloremque ex corrupti adipisci ipsa, quidem vero porro. Consequuntur rerum aliquam nam quaerat minima praesentium excepturi non.</p>
        </div>
    </article>
{% endblock %}